.layout-main {
    min-height: 25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: start;
    align-items: end;
    background: #fdfdfe;
    margin-top: 50px;
}
.widget {
    position: relative;
    width: 17.5rem;
    height: 20.63rem;
    margin: 0.94rem;
    padding: 4.2rem 2.2rem 2.2rem;
    box-sizing: border-box;
    border: 1px #f0ba80 solid;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    background: #efe7df;
    color: #989898;
}
.widget-icon {
    position: absolute;
    top: -2.7rem;
    width: 5.25rem;
    height: 5.25rem;
    line-height: 5.25rem;
    border: 1px #f0ba80 solid;
    border-radius: 50%;
    background: #efe7df;
}
.widget-caption {
    font-size: 1.3em;
}
.widget-text {
    font-size: 1em;
    line-height: 1.8em;
    overflow: hidden;
    color: #625f5f;
}
.widget-button:hover {
    transition: 500ms;
    background: #0cb60c;
    cursor: pointer;
}
.widget-button {
    width: 9.38rem;
    height: 3.13rem;
    line-height: 3.13rem;
    margin-top: 0.5rem;
    display: block;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    transition: 1000ms;
    color: white;
    background: green;
}
