body {
    margin: 0;
}
.layout-main {
    width: 600px;
    height: 450px;
    margin: 100px auto;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    row-gap: 0;
}
.section-top {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #cdd7e0;
}
.top-left {
    margin-left: 40px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: #102b3e;
}
.top-right {
    color: #3d319a;
    margin-right: 40px;
}
.top-right > i {
    margin: 10px;
}
.section-middle {
    flex-grow: 1;
    background: #102b3e;
}
.section-bottom {
    height: 120px;
    background: #cdd7e0;
    position: relative;
}
.layout-box {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -50px;
}
.box {
    width: 100px;
    height: 100px;
    background: #3d319a;
    border-radius: 8px;
}